body {
  background-color: #fafcff;
  overflow-x: hidden;
}

input:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #ced4da !important;
}

.wrapper {
  height: 100vh;
}

.h-100 {
  height: 100vh !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.bg-blue {
  background-color: cornflowerblue !important;
}

.border-left-primary {
  border-left: 0.25rem solid cornflowerblue !important;
  border-top: #fafcff !important;
  border-right: #fafcff !important;
  border-bottom: #fafcff !important;
}

.border-left-success {
  border-left: 0.25rem solid #28a745 !important;
  border-top: #fafcff !important;
  border-right: #fafcff !important;
  border-bottom: #fafcff !important;
}

.border-left-warning {
  border-left: 0.25rem solid #ffc107 !important;
  border-top: #fafcff !important;
  border-right: #fafcff !important;
  border-bottom: #fafcff !important;
}

.border-left-info {
  border-left: 0.25rem solid #17a2b8 !important;
  border-top: #fafcff !important;
  border-right: #fafcff !important;
  border-bottom: #fafcff !important;
}

.border-left-danger {
  border-left: 0.25rem solid #dc3545 !important;
  border-top: #fafcff !important;
  border-right: #fafcff !important;
  border-bottom: #fafcff !important;
}

.text-xs {
  font-size: 0.7rem;
}

.text-sidebar {
  font-size: 14px;
  margin-top: 5px;
}

.text-blue {
  color: cornflowerblue !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.fa-2x {
  font-size: 2em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.pie-chart {
  width: 10vh;
  height: 10vh;
}

.pointer {
  cursor: pointer;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.w-70 {
  width: 70% !important;
}

.bg-pink {
  background-color: rgb(245, 199, 199) !important;
}

.bg-yellow {
  background-color: rgb(255, 226, 174) !important;
}

.bg-grey {
  background-color: #C0C0C0;
}

.dropdown-toggle::after {
  border: none !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: white !important;
}

.card-login {
  border: 0 !important;
  position: absolute;
  top: 50%;
  transform: translate(0, -55%);
}

.container-login {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.w-20 {
  width: 20% !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: var(--bs-table-striped-bg);
  --bs-table-accent-bg: none;
}
